<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <meta content='width=device-width, initial-scale=1' name='viewport'>
</head>
<body>


<form id="loginForm" method="post" action="/loginpage"  >
  <h1>Login</h1>
  <p id="loginStatus"></p>
  <label for="loginEmailInput">
    E-Mail
    <input id="loginEmailInput" name="email" placeholder="E-Mail" type="email">
  </label><br/>
  <label for="loginPasswordInput">
    Password
    <input id="loginPasswordInput" name="password" placeholder="Password" type="password">
  </label><br/>
  <input class="btn btn-primary" id="loginSubmit" type="submit" value="Submit">

</form>

</body>

</html>
